name: feature-nodejs-pipeline
on:
  workflow_call:
    inputs:
      project:
        required: true
        type: string
      component:
        required: true
        type: string
      environment:
        required: true
        type: string
env:
  ACCOUNT_ID: 522534289017

jobs:
  feature-nodejs-pipeline:
    runs-on: self-hosted
    steps: 
    - name: checkout code
      uses: actions/checkout@v6

    - name: list files
      run: ls -l

    - name: Get the version from commit id
      run: |
        echo "APP_VERSION=${GITHUB_SHA::9}" >> $GITHUB_ENV

    - name: Print Inputs
      run: |
        echo ${{ inputs.project }}
        echo "App Version is: ${APP_VERSION}"

    - name: Install Dependencies
      run: npm install
    
    - name: Run Unit Tests
      run: echo "Unit test completed"
    
    - name: Docker Build
      run: |
        docker build -t ${ACCOUNT_ID}.dkr.ecr.us-east-1.amazonaws.com/${{ inputs.project }}/${{ inputs.component }}:${APP_VERSION} .
        docker images

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5.1.1
      with:
        aws-region: us-east-1
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    
    - name: Puch Images to ECR
      run: |
        aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${ACCOUNT_ID}.dkr.ecr.us-east-1.amazonaws.com
        docker push ${ACCOUNT_ID}.dkr.ecr.us-east-1.amazonaws.com/${{ inputs.project }}/${{ inputs.component }}:${APP_VERSION}