name: Prod-Pipeline

on:
  workflow_call:
    inputs:
      project:
        required: true
        type: string
      component:
        required: true
        type: string
      commit_id:
        required: true
        type: string
      environment:
        required: true
        type: string

permissions:
  contents: read
  statuses: write

jobs:
  prod-pipeline:
    runs-on: self-hosted

    steps:
      - name: Echo test
        run: |
          echo "Reusable workflow connected"