name: Prod-Pipeline

on:
  workflow_call:
    inputs:
      project:
        required: true
        type: string
      component:
        required: true
        type: string
      commit_id:
        required: true
        type: string
      environment:
        required: true
        type: string

permissions:
  contents: read
  statuses: write

env:
  ACCOUNT_ID: 522534289017

jobs:
  prod-pipeline:
    runs-on: self-hosted

    steps:

    # ---------------- VALIDATE FULL PROMOTION CHAIN ----------------
    - name: Validate Promotion Chain
      run: |
        COMMIT=${{ inputs.commit_id }}
        REPO=${{ github.repository }}
        TOKEN=${{ secrets.GITHUB_TOKEN }}

        curl -s -H "Authorization: Bearer $TOKEN" \
        https://api.github.com/repos/$REPO/commits/$COMMIT/status \
        > status.json

        REQUIRED=(
          "UNIT_TEST"
          "NPM_AUDIT"
          "DOCKER_BUILD"
          "DEV_DEPLOY"
          "UAT_DEPLOY"
        )

        for CONTEXT in "${REQUIRED[@]}"; do
          STATE=$(jq -r ".statuses[] | select(.context==\"$CONTEXT\") | .state" status.json)

          echo "$CONTEXT -> $STATE"

          if [ "$STATE" != "success" ]; then
            echo " $CONTEXT not successful. Cannot promote to PROD."
            exit 1
          fi
        done

        echo "Promotion chain validated. Prod deploy allowed."

    # ---------------- AWS AUTH ----------------
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        aws-region: ${{ secrets.AWS_REGION }}
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    # ---------------- EKS LOGIN (PROD CLUSTER) ----------------
    - name: Authenticate to PROD EKS
      run: |
        aws eks update-kubeconfig --region us-east-1 --name robomart-dev
        kubectl get nodes

    # ---------------- CHECKOUT DEPLOY REPO ----------------
    - name: Checkout Deploy Repo
      uses: actions/checkout@v4
      with:
        repository: azharmd-dev/catalogue-deploy

    # ---------------- DEPLOY TO PROD ----------------
    - name: Deploy to PROD
      id: prod_deploy
      run: |
        helm upgrade --install ${{ inputs.component }} \
          -f values-dev.yaml \
          --set deployment.imageVersion=${{ inputs.commit_id }} \
          -n ${{ inputs.project }} \
          --atomic --wait --timeout=10m .

    # ---------------- SET COMMIT STATUS ----------------
    - name: PROD status
      if: always()
      uses: azhardevmd/workflows/.github/actions/set-commit-status@main
      with:
        state: ${{ steps.prod_deploy.outcome }}
        context: "PROD_DEPLOY"
        status_description: "PROD ${{ steps.prod_deploy.outcome }}"
        target_url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}